@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Noto+Serif+Display:ital@1&display=swap');


#planner-title {
    margin-top:20px;
    margin-left:20px;
    margin-bottom: 20px;
    font-style:oblique;
    
}

#option-bar {
    width: 1200px;
    margin-left: 20px;

}

#time-range {
    float: right;
    font-weight: bold;

}

#flip-page {
    margin-left: 30px;
    float: right;

}

#filterButtons {
    margin-left: 330px;
    margin-bottom: 10px;
}

#filterDiv ul {
    list-style: none;

}

#main-table{
    margin-top: 10px;
    border: 1px solid;
    table-layout: fixed;
    width: 1200px;
    border-collapse: collapse;
    margin-left: 20px;
    height: 720;
}

#main-table td{
    border: 1px solid;
    margin-left: 0px;
    text-align: center;
}

#main-table th{
    text-align: center;
}

.planner_time{
    height: 30px;

}

.event{
    width: 145px;
    overflow: auto;
    border: 1px solid;
    font-size: 50%;


}


.game-name{
    font-weight:bold;

}
